@import "variables"; 

.app-section {
    position: relative;
    box-sizing: content-box;
    padding: 100px 20px 0;
    max-width: 1200px;
    margin: 0 331.5px 100px;

    &__title {
        text-align: center;
        color: $color-white;
        margin-bottom: 48px;
    }

}

.mobile-app {

    &__left {
        width: 600px;
    }

    &__text {
        font-size: 16px;
        color: $color-dark-gray ;
    }

    &__button {
        margin-top: 16px;
        border-radius: 32px;
        width: 131px;
        height: 53px;
        background-color: $color-red;
        color: $color-white;
        font-size: 12.8px;
        line-height: 19.2px;
    }

    &__right {
        position: absolute;
        top: 205px;
        left: 864px;
        width: 333px;
        height: 278px;
    }
}