@import "general";
@import "variables";
@import "reset";

.header {
    position: absolute;
    top: 25px;
    left: 50%; 
    transform: translate(-50%, 0);
    width: 1200px;

    &__menu {
     display: flex;
     justify-content: space-between;
     align-items: center;   
    }
}
