@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboro;
  font-weight: 550;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Roboro;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  margin: 0;
}

h1,
h2 {
  font-weight: bold;
}

h3,
h4 {
  font-weight: normal;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

@media (width <= 414px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}
.header {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1200px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header-logo img {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.menu-header-navigation {
  flex: 1 1 auto;
  margin-left: 90px;
}
.menu-header-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
}
.menu-header-item {
  flex: 0 1 auto;
}
.menu-header-link {
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #cacaca;
  padding: 0;
  margin: 0;
}
.menu-header-link:hover {
  text-decoration: underline;
}
.menu-header-link-white {
  color: #fff;
}
.menu-header-search {
  flex: 0 1 auto;
}

.search-menu-input {
  width: 248px;
  border: none;
  padding: 0;
  height: 25px;
  border-radius: 50px;
  background-color: #3c3b3d;
  text-transform: uppercase;
  color: #757575;
}
.search-menu-input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-size: 13.3px;
  padding: 0 0 0 10px;
}

@media (width <= 1240px) {
  .header {
    max-width: 100%;
  }
  .header-menu {
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 1px;
  }
  .menu-header-navigation {
    margin: 0 10px;
  }
}
@media (width <= 414px) {
  .menu-header-logo {
    display: flex;
    align-items: center;
  }
  .menu-header-navigation {
    flex: 0 0 100%;
    margin: 16px 0;
  }
  .menu-header-list {
    line-height: 12.89px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1px;
  }
  .menu-header-list:nth-child(2n) {
    color: #cacaca;
  }
  .menu-header-list:nth-child(2n+1) {
    color: #e0e0e0;
  }
  .menu-header-link {
    font-weight: 700;
  }
  .search-menu-input {
    width: 100%;
  }
  .menu-header-search {
    flex: 1 1 100%;
    margin-top: 3px;
  }
}
.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer .footer-container {
  padding: 0 20px;
}
.footer-row {
  padding: 61px 0 65px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
.footer-title {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
@media (width <= 414px) {
  .footer-title .footer-title {
    line-height: 150%;
  }
}
.footer-list {
  margin-top: 15px;
  margin-bottom: 0;
}
.footer-link {
  color: #cacaca;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-img {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}
.footer .footer-basement {
  padding: 23px 0 34px;
}
.footer hr {
  border: 1px solid #cacaca;
  margin: 8px 0 0;
}

.basement-footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.basement-footer-link {
  color: #cacaca;
}
.basement-footer-link:hover {
  text-decoration: underline;
}

@media (width <= 800px) {
  .footer-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
  }
}
@media (width <= 414px) {
  .footer-row {
    padding: 62px 0 72px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) auto auto;
    row-gap: 31px;
  }
  .footer-list {
    margin-bottom: 0;
  }
  .footer hr {
    margin: 0;
  }
  .footer-basement {
    padding: 2rem;
  }
  .basement-footer-list {
    flex-direction: column;
  }
}
[class*=container] {
  max-width: 1200px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

.nowrap {
  white-space: nowrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.first-section {
  padding: 198px 0 205px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  color: #fff;
  max-height: 750px;
}
.first-section-container {
  text-align: center;
}
.first-section-subtitle {
  margin-bottom: 29px;
}
.first-section-text {
  margin-bottom: 17px;
}
.first-section-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  max-width: 570px;
  min-height: 50px;
  height: 131px;
  margin: 0 auto;
}
.first-section-input {
  flex: 0 1 auto;
  width: 100%;
  display: flex;
  column-gap: 24px;
}
.first-section-input-item {
  flex: 1 1 50%;
  background-color: transparent;
  padding: 16px 0 16px 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.first-section-input-item::placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.first-section-button {
  flex: 1 1 100%;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #34c176;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 0.5s ease 0s;
  border: none;
}
.first-section-button:hover {
  background-color: #2a945b;
}

@media (width <= 720px) {
  .first-section {
    padding: 200px 20px;
  }
}
@media (width <= 680px) {
  .first-section {
    height: 851px;
    padding: 200px 20px;
  }
  .first-section-input {
    flex-wrap: wrap;
    row-gap: 24px;
  }
  .first-section-input-item {
    flex: 1 1 100%;
  }
}
@media (width <= 414px) {
  .first-section {
    padding: 248px 20px 202px;
    max-height: 402px;
  }
  .first-section-subtitle {
    margin: 0 0 16px;
  }
  .first-section-text {
    margin-bottom: 16px;
  }
  .first-section-form {
    row-gap: 24px;
    height: 205px;
  }
  .first-section-input-item {
    padding: 15px 0 15px 20px;
  }
  .first-section-button {
    padding: 21px 30px;
  }
}
.pricing-section {
  box-sizing: content-box;
  max-width: 1200px;
  padding: 97px 20px 0;
  margin: 0 auto;
  color: #fff;
}
.pricing-section-title {
  text-align: center;
  margin-bottom: 50px;
}
.pricing-section-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.pricing-section-item {
  flex: 1 1 366.66px;
  height: 615px;
  text-align: center;
}
.pricing-section-text {
  margin: 40px 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

.item-pricing {
  padding: 0 1.5rem;
  border-radius: 1rem;
}
.item-pricing:nth-child(1) {
  background: url("../images/subscribe_1.png") center center/cover no-repeat;
}
.item-pricing:nth-child(2) {
  background: url("../images/subscribe_2.png") center center/cover no-repeat;
}
.item-pricing:nth-child(3) {
  background: url("../images/subscribe_3.png") center center/cover no-repeat;
}
.item-pricing-title {
  margin-top: 23px;
  font-size: 24px;
  line-height: 36px;
}
.item-pricing-value {
  font-size: 64px;
  line-height: 1em;
  margin: 200px 0 0;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.item-pricing-value span {
  font-size: 32px;
  line-height: 150%;
}
.item-pricing-button {
  margin-top: 42px;
  display: flex;
  padding: 20px 0;
  margin-bottom: 74px;
  align-items: center;
  justify-content: center;
  color: #fff;
  line-height: 150%;
  transition: all 0.5s ease 0s;
}
.item-pricing-button:hover {
  background: #cacaca;
  color: #08020d;
}
.item-pricing-text {
  flex: 1 1 auto;
  text-align: center;
  font-size: 12.8px;
  line-height: 150%;
  height: 57px;
  margin: 0;
  margin-top: -10px;
}

.btn {
  border-radius: 5px;
  border: 1px solid #fff;
}

@media (width <= 1200px) {
  .pricing-section-items {
    flex-wrap: wrap;
  }
}
@media (width <= 440px) {
  .pricing-section-title {
    text-align: center;
    margin: 3px 0 47px;
  }
  .pricing-section-text {
    margin: 44px 0 0;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
  }
  .item-pricing {
    height: 595px;
    width: 374px;
  }
  .item-pricing:nth-child(1) {
    background: url("../images/subscribe_1.png") 0 0/cover no-repeat;
  }
  .item-pricing:nth-child(2) {
    background: url("../images/subscribe_2.png") 0 0/cover no-repeat;
  }
  .item-pricing:nth-child(3) {
    background: url("../images/subscribe_3.png") 0 0/cover no-repeat;
  }
  .item-pricing-value {
    margin: 199px 0 0;
  }
  .item-pricing-title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }
  .item-pricing-text {
    margin-top: -10px;
  }
}
@media (width <= 400px) {
  .item-pricing {
    padding: 0;
  }
  .item-pricing-button {
    padding: 20px 80px;
  }
}
.news-section {
  box-sizing: content-box;
  padding: 100px 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.news-section-title {
  text-align: center;
  margin-bottom: 48px;
  color: #fff;
}
.news-section-items {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.news-section-item {
  flex: 1 1 auto;
  display: flex;
  gap: 50px;
}

.item-news-img {
  flex: 1 1 575px;
}
.item-news-img img {
  width: 575px;
}
.item-news-body {
  flex: 1 1 575px;
}
.item-news-title {
  font-size: 30px;
  text-transform: none;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 30px;
  color: #fff;
}
.item-news-text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.item-news-author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}
.item-news-author p {
  margin: 0;
}
.item-news-label {
  font-style: 12px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f89202;
}
.item-news-date {
  font-size: 12px;
  line-height: 19px;
}
.item-news-btn {
  display: inline-block;
  padding: 16px 32px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: #cacaca;
  transition: all 0.5s ease 0s;
}
.item-news-btn:hover {
  background: #cacaca;
  color: #08020d;
}
.item-news-img-order-2 {
  order: 2;
}
.item-news-body-order-1 {
  order: 1;
}

@media (width <= 1200px) {
  .news-section-item {
    justify-content: center;
    flex-wrap: wrap;
  }
  .item-news-img img {
    width: 100%;
  }
  .item-news-img-order-2 {
    order: 1;
  }
  .item-news-body-order-1 {
    order: 2;
  }
}
@media (width <= 414px) {
  .news-section-items {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .item-news {
    row-gap: 50px;
  }
  .item-news-img {
    flex: 0 1 374px;
  }
  .item-news-img img {
    width: 374px;
  }
  .px-8 {
    margin-top: -8px;
  }
  .item-news-title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .item-news-label {
    font-size: 12.8px;
    line-height: 150%;
  }
  .item-news-date {
    font-size: 12.8px;
    line-height: 150%;
  }
  .item-news-btn {
    font-size: 12.8px;
    line-height: 150%;
  }
}
.application-section {
  box-sizing: content-box;
  max-width: 1200px;
  padding: 100px 20px 0;
  margin: 0 auto 100px;
}
.application-section-title {
  text-align: center;
  margin-bottom: 48px;
  color: #fff;
}
.application-section-body {
  display: flex;
  column-gap: 144px;
}

.body-application-item {
  flex: 0 1 600px;
  margin-top: 16px;
}
.body-application-item p {
  margin: 0;
}
.body-application-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.body-application-info:nth-child(2) {
  margin-top: 16px;
}
.body-application-btn {
  display: inline-block;
  margin-top: 16px;
  padding: 16px 40px;
  border-radius: 32px;
  background-color: #95390c;
  color: #fff;
  font-size: 12.8px;
  line-height: 150%;
  transition: all 0.5s ease 0s;
}
.body-application-btn:hover {
  background: #cacaca;
  color: #08020d;
}
.body-application-img img {
  width: 100%;
}

@media (width <= 1200px) {
  .application-section-body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .body-application-item {
    padding: 0;
    order: 2;
  }
  .body-application-img {
    order: 1;
  }
}
@media (width <= 414px) {
  .application-section {
    box-sizing: border-box;
  }
  .body-application-item {
    height: 252px;
  }
  .body-application-info {
    flex: 0 1 100%;
    font-size: 15.5px;
  }
  .body-application-info:nth-child(2) {
    font-size: 15.5px;
    margin-top: 19px;
  }
  .body-application-btn {
    margin-top: 17px;
  }
}
.first-artist-section {
  padding: 250px 0 223px;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.first-artist-section-container {
  padding: 0 20px;
}
.first-artist-section-text {
  margin: 16px 0 0;
}
.first-artist-section-button {
  display: inline-flex;
  border: none;
  gap: 16px;
  align-items: center;
  margin-top: 48px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.5s ease 0s;
}
.first-artist-section-button img {
  filter: invert(1);
  width: 20px;
  height: 20px;
}
.first-artist-section-button span {
  font-size: 12.8px;
  text-transform: uppercase;
  line-height: 150%;
}
.first-artist-section-button-purple {
  padding: 20px 96px 20px 31px;
  margin-right: 24px;
  background-color: #5328a1;
}
.first-artist-section-button-purple:hover {
  background: #3e1785;
}
.first-artist-section-button-red {
  padding: 20px 47px 20px 31px;
  background-color: #95390c;
}
.first-artist-section-button-red:hover {
  background: #6d2c0c;
}

@media (width <= 414px) {
  .first-artist-section {
    padding: 225px 0;
  }
  .first-artist-section-button {
    margin-top: 0;
  }
  .first-artist-section-button-purple {
    margin: 48px 0 0;
  }
  .first-artist-section-button-red {
    margin-top: 24px;
  }
}
.popular-section {
  padding: 100px 20px 0;
  margin: 0 auto;
  max-width: 1200px;
}
.popular-section-title {
  color: #fff;
}
.popular-section-items {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
}
.popular-section-track {
  flex: 1 0 calc(50% - 50px);
}

.track-popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.track-popular-img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.track-popular-img img {
  width: 100%;
}
.track-popular-info {
  flex: 1 0 auto;
}
.track-popular-title {
  font-size: 12.8px;
  line-height: 150%;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
}
.track-popular-songer {
  font-size: 12.8px;
  line-height: 150%;
  margin: 0;
}
.track-popular-time {
  font-size: 12.8px;
  line-height: 150%;
}

@media (width <= 650px) {
  .popular-section-track {
    flex: 1 0 100%;
  }
}
.discography-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 0;
}
.discography-section-title {
  color: #fff;
}
.discography-section-items {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.card-discography {
  display: flex;
  flex-direction: column;
}
.card-discography-img {
  max-width: 250px;
  max-height: 250px;
}
.card-discography-img img {
  width: 100%;
}
.card-discography-title {
  margin-top: 18px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: none;
  color: #fff;
}
.card-discography-year {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

@media (width <= 1200px) {
  .discography-section-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 900px) {
  .discography-section-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 414px) {
  .discography-section-items {
    grid-template-columns: repeat(2, 138px);
    grid-template-rows: 206px repeat(2, 1fr);
  }
  .card-discography-img {
    width: 137px;
    height: 137px;
  }
}
.similar-section {
  max-width: 1200px;
  padding: 100px 20px 0;
  margin: 0 auto 100px;
}
.similar-section-title {
  color: #fff;
}
.similar-section-items {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.card-similar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-similar-img {
  max-width: 250px;
  max-height: 250px;
}
.card-similar-img img {
  width: 100%;
}
.card-similar-title {
  margin-top: 17px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: none;
  color: #fff;
}
.card-similar-fans {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

@media (width <= 1200px) {
  .similar-section-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 900px) {
  .similar-section-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 414px) {
  .similar-section-items {
    grid-template-columns: repeat(2, 138px);
    grid-template-rows: repeat(3, 230px);
  }
  .card-similar-img {
    width: 137px;
    height: 137px;
  }
  .card-similar-fans {
    text-align: center;
  }
}

/*# sourceMappingURL=app.css.map */
