@import "reset";
@import "general";
@import "variables";
@import "header";
@import "first-section";
@import "pricing-section";


  [class*="container"] {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  ul li {
    list-style: none;
  }
  
  ul {
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    vertical-align: top;
  }
  
  .nowrap {
    white-space: nowrap;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
  }
  
  .main {
    flex: 1 1 auto;
  }

  

  
