@import "variables";

.first-section {
    padding: 198px 0 205px;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    color: $color-white;
    max-height: 750px;
  
    // .first-section__container
    &__container {
      text-align: center;
    }
  
    // .first-section__subtitle
    &__subtitle {
      margin-bottom: 29px;
    }
  
    // .first-section__text
    &__text {
      margin-bottom: 17px;
    }
  
    // .first-section__form
    &__form {
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      max-width: 570px;
      min-height: 50px;
      height: 131px;
      margin: 0 auto;
    }
  
    // .first-section__input
    &__input {
      flex: 0 1 auto;
      width: 100%;
      display: flex;
      column-gap: 24px;
    }
  
    // .first-section__input-item
    &__input-item {
      flex: 1 1 50%;
      background-color: transparent;
      padding: 16px 0 16px 20px;
      border: 2px solid #cacaca;
      border-radius: 3px;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
  
      &::placeholder {
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
      }
    }
  
    // .first-section__button
    &__button {
      flex: 1 1 100%;
      padding: 20px 30px;
      border-radius: 5px;
      background-color: $color-green;
      font-size: 13.3px;
      line-height: 15px;
      text-transform: uppercase;
      color: #fff;
      transition: background-color 0.5s ease 0s;
      border: none;
  
      &:hover {
        background-color: #2a945b;
      }
    }
  }

  @media (max-width: 720px) {
    .first-section {
      padding: 200px 20px;
    }
  }
  
  @media (max-width: 680px) {
    .first-section {
      height: 851px;
      padding: 200px 20px;
    }
  
    .first-section__input {
      flex-wrap: wrap;
      row-gap: 24px;
    }
  
    .first-section__input-item {
      flex: 1 1 100%;
    }
  }
  
  @media (max-width: 414px) {
    .first-section {
      padding: 248px 20px 201px;
    }
  
    .first-section__subtitle {
      margin: 0 0 16px;
    }
  
    .first-section__text {
      margin-bottom: 16px;
    }
  
    .first-section__form {
      row-gap: 24px;
      height: 205px;
    }
  
    .first-section__input-item {
      padding: 15px 0 15px 20px;
    }
  
    .first-section__button {
      padding: 21px 30px;
    }
  }