@import "variables"; 

.pricing-section {
    box-sizing: content-box;
    max-width: 1200px;
    padding: 97px 20px 0;
    margin: 0 auto;
    color: $color-white;
  
    // .pricing-section__container
    &__container {
        text-align: center;
    }
  
    // .pricing-section__subtitle
    &__subtitle {
        margin-bottom: 50px;
        text-align: center;
    }
    
    // .pricing-section-cards
    &-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;

        // .pricing-section-cards__item
        &__item {
            padding: 0 1.5rem;
            border-radius: 1rem;
            border: 1px;
            height: 615px;
            flex: 1 1 366.66px;       
            
            // .pricing-section-cards__item-free
            &:nth-child(1) {
                background-image: url('../images/subscribe_1.png');
                background-position: center;
                background-size: cover;
            }

            // .pricing-section-cards__item-standard
            &:nth-child(2) {
                background-image: url('../images/subscribe_2.png');
                background-position: center;
                background-size: cover;
            }

            // .pricing-section-cards__item-premium
            &:nth-child(3) {
                background-image: url('../images/subscribe_3.png');
                background-position: center;
                background-size: cover;
            }

            // .pricing-section-cards__item-header
            &-header {
                margin-top: 23px;
            }

            // .pricing-section-cards__item-price
            &-price {
                margin-top: 200px;
                display: flex;
                flex-direction: row;
                justify-content: center;

                // .pricing-section-cards__item-price-number
                &-number {
                    font-size: 64px;
                    line-height: 64px;
                }

                // .pricing-section-cards__item-price-currency
                &-currency {
                    font-size: 32px;
                    line-height: 48px;
                    text-transform: uppercase;
                    margin-left: 16.17px ;
                }   
            }

            // .pricing-section-cards__item-button
            &-button {
                margin-top: 40px;
                padding: 20px 0;
                border-radius: 5px;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                color: $color-white;
                border: 1px solid $color-white;
                background-color: rgba(0, 0, 0, 0);
                width: 318.66px;
                height: 66px;
            }

            // .pricing-section-cards__item-description
            &-description {
                margin-top: 64px;
                font-size: 12.8px;
                line-height: 19.2px;
            }
        }
    }
    &__footer {
        margin-top: 40px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
  }